[submodule "autoscroll"]
	path = autoscroll
	url = git@github.com:mane-23G/autoscroll.git
[submodule "datelist"]
	path = datelist
	url = git@github.com:mane-23G/datelist.git
[submodule "logdata"]
	path = logdata
	url = git@github.com:mane-23G/logdata.git
[submodule "sfind"]
	path = sfind
	url = git@github.com:mane-23G/sfind.git
